
/* colors */

/*
$teal: #28a288;
$blue: #
$green: #

$darkgray: #666;
$gray: #
$lightgray: #
$xlightgray: #f2f2f2; 
*/



/* fonts */

/* general styles */

.flag {
/* stuff here */
}

.flag.teal {
  background: #28a288;
}

/* Theme Overrides */

.page-container-border-enabled .page-container {
    /* border-color: #505050; */
    border: none;
}



/* Color Coding Categories */





/* Region Styling */


/* Specific Page Styling */
